<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
 <customErrors mode="Off" />
<machineKey validationKey="48FEEFA90156F8F74C3886F7E4030E7DC940030EC2E6B5B3D3D66D66DE479E57D69CC0EF2DAEDA662B65C66D3973FB9288E6C0FD4BC0FC30D9F868DB92A55FCA" decryptionKey="911EE0B89A7130EDCB9814ED97B4EA69D1431BF57BA72445C40CA8BEE96A37AC" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <trust level="Full" />
  </system.web>
  <connectionStrings>
    <add name="mysqlcon" connectionString="data source=50.62.209.4; user id=dicy; password=prati22shat11#; database=drivesu;" />
    <add name="conKnowlarity" connectionString="data source=reports.knowlarity.com; user id=citelum_ui; password=123456; database=kreport;" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>