
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
        {
            border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
            vertical-align: baseline;
  
}
        body
        {
           font: 13px Tahoma;
            /*background: url(../img/bak.jpg) repeat;*/ margin:0px;
        }
       
	
h1 {
    font: bold 36px Times;
	color: #666;
	text-align: center;
	padding: 20px 0;    
}
        h3
        {
            font-size:130%;
             font-weight:700;
              color:#4A4848;
        }
        .wrapper
        {
            margin: 0px auto;
            width: 1024px;
            text-align: center;
        }
        .rightbox
        {
            width: 400px;
            min-height: 200px;
            margin: 5px;
            line-height: 200%;
            border: 1px solid #D7D7D7;
            border-radius: 50px 0px 50px 0px;
            -moz-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            -webkit-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            padding: 20px;
             text-align:left;
        }
        .rightbox a
        {
            color: #888;
            font-size: 14px;
        }
        .sidebox
         {
            width: 170px;
            min-height: 300px;
             float:left;
              margin-top:50px !important;
            margin: 5px;
            line-height: 150%;
            border: 1px solid #D7D7D7;
            border-radius: 7px 7px 7px 7px;
            -moz-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            -webkit-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            padding: 10px;
             text-align:left;
        }
        .lightbox
         {
            min-width: 200px;
            min-height: 300px;
            
          
            line-height: 220%;
            border: 1px solid #D7D7D7;
            border-radius: 7px 7px 7px 7px;
            -moz-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            -webkit-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            padding: 10px;
             text-align:left;
        }
         .topbox
         {
            min-width: 200px;
            
          margin: 0px auto;
          
            border: 1px solid #D7D7D7;
            border-radius: 7px 7px 7px 7px;
            -moz-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            -webkit-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
         
             text-align:left;
        }
        .txt
        {
            border: 1px solid #D7D7D7;
            border-radius: 5px;
             -moz-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            -webkit-box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            box-shadow: 1px 1px 2px #EDEDED, -1px -1px 2px #EDEDED;
            padding: 1px;
             height:22px;
        }
        .btn
        {
             margin-top:15px; 
              height:30px;
              width:100px;
               border-radius:5px;
                border: 1px outset #D7D7D7;
                 background-color:#f2f2f2;
                  font-size:15px;
                  font-weight:600;
        }
        
        #nav
{
    height:35px;
    
     color:#fff;
}
#nav li:first-child
{
     margin-left:25px;
}
#nav ul li
{
     
    display:inline-block;
      padding: 5px 10px 6px 10px;
    border-left:1px solid #FED9A1;
     text-align:center;
      height:25px;
   border-right:  1px solid #FED9A1;

}
#nav li a
{
    width:180px;
     color:#ffffff;
     text-decoration:none;
     display:inline-block;
     height:35px;
 font-size:15px;
      
}
#nav li a:hover
{
  color:#ffffff;
}
#nav li:hover
{
     background-color:#5B6C74;
     
}

.btnCal
{
     height:16px;
     width:16px;
      background: url(../img/schedule.png) no-repeat;
}
.modalBackground
{
    background-color:Gray;
    filter:alpha(opacity=50);
    opacity:0.7;
}
    .pnlBackGround
    {
     position:fixed;
        top:10%;
        left:10px;
        width:350px;
        height:200px;
         padding:10px;  
        text-align:center;
        background-color:#ffffff;
        border:solid 3px #65B7BC;
         border-radius:5px;
         color:#888;
    }

.modalpopup
{
    
    width:500px;
    height:300px;
    background-color:Orange;
}
/* Gradient 1 */
.tb10 {
	background-image:url(../img/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 160px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
	border-radius:5px;
}
.tb9 {
	background-image:url(../img/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 120px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
	border-radius:5px;
}
input[type=text]:focus
{
     background-color:#CDDBE6;
      background-image: none;
       font-weight:bold;
}

input[type=text] ,input[type=textarea]{
   background-image:url(../img/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width:150px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
	border-radius:5px;
}
input[type='select']
{
     width:100px;
     height:30px;
     border-radius:5px;
}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}


.del-btn
{
  background: url(../img/Close.png) no-repeat;
      height:32px;
      width:32px;
}

/*Calendar Control CSS*/
.cal_Theme1 .ajax__calendar_container   {
background-color: #DEF1F4;
border:solid 1px #77D5F7;

}

.cal_Theme1 .ajax__calendar_header  {
background-color: #ffffff;

margin-bottom:4px;
}

.cal_Theme1 .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev    {
color: #004080;
padding-top: 0px;
}

.cal_Theme1 .ajax__calendar_body    {
background-color: #ffffff;
border: solid 1px #77D5F7;
}

.cal_Theme1 .ajax__calendar_dayname {
text-align:center;
font-weight:bold;
margin-bottom: 0px;
padding-top:5px;
color: #004080;
}

.cal_Theme1 .ajax__calendar_day {
color: #004080;
text-align:center;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active  {
color: #004080;
font-weight: bold;
background-color: #DEF1F4;
}

.cal_Theme1 .ajax__calendar_today   {
font-weight:bold;

}

.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
color: #bbbbbb;
}


.button_example{
border:1px solid #67bcd1; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #92cfde; background-image: linear-gradient(to bottom, #92cfde, #76bdd1);
 }

.button_example:hover{
 border:1px solid #44adc6;
 background-color: #6bbed2; background-image: linear-gradient(to bottom, #6bbed2, #50abc4);
 }

.mGrid { 
    width: 100%; 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
}
.mGrid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}
.mGrid th { 
    padding: 4px 2px; 
    color: #fff; 
    background: #424242 url(../img/grd_head.png) repeat-x top; 
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.mGrid .alt { background: #fcfcfc url(../img/grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(../img/grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }



.button_green{
border:1px solid #91b41a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #b6e026; background-image: linear-gradient(to bottom, #b6e026, #abdc28);
 }

.button_green:hover{
 border:1px solid #718c14;
 background-color: #95b91a; background-image: linear-gradient(to bottom, #95b91a, #8bb41d);
 }

.button_red{
border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f62b2b; background-image: linear-gradient(to bottom, #f62b2b, #d20202);
 }

.button_red:hover{
 border:1px solid #b30808;
 background-color: #e40a0a; background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
 }
 
 .button_gray{
border:1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #d3d3d3; background-image: linear-gradient(to bottom, #d3d3d3, #707070);
 }

.button_gray:hover{
 border:1px solid #a0a0a0;
 background-color: #bababa; background-image: linear-gradient(to bottom, #bababa, #575757);
 }
 
 .button_grey{
border:1px solid #a8c1d5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #CEDCE7; background-image: linear-gradient(to bottom, #CEDCE7, #596a72);
 }

.button_grey:hover{
 border:1px solid #8aabc5;
 background-color: #acc4d6; background-image: linear-gradient(to bottom, #acc4d6, #434f55);
 }