<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="const" connectionString="Datasource=localhost;Database=vsale;uid=root;pwd=password;"/>-->
      <!--<add name="const" connectionString="Data Source=VHOPNE-PC;Initial Catalog=sumit;Integrated Security=True;" />-->
    <add name="const" connectionString="Server=119.82.74.68; User id=sumit; Pwd=vsale@123!; Database=vsale;" providerName="MySql.Data.MySqlClient"/>
    
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    
    </system.web>

</configuration>
