USE [master]
GO
/****** Object:  Database [sumit]    Script Date: 08/27/2014 05:03:59 ******/
CREATE DATABASE [sumit] ON  PRIMARY 
( NAME = N'sumit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\sumit.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sumit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\sumit_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sumit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sumit]
GO
/****** Object:  Table [dbo].[vseller]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vseller](
	[did] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[mobile] [nvarchar](50) NOT NULL,
	[alternate_no] [nvarchar](50) NOT NULL,
	[product] [nvarchar](50) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[choose_plan] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[profession] [nvarchar](50) NOT NULL,
	[call_credit] [nvarchar](50) NOT NULL,
	[period] [nvarchar](50) NOT NULL,
	[mode] [nvarchar](50) NOT NULL,
	[con_call] [nvarchar](50) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[recovery] [nvarchar](50) NOT NULL,
	[payment] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NULL,
	[ticket] [nvarchar](50) NULL,
	[record] [nvarchar](50) NULL,
	[config] [nvarchar](50) NULL,
	[test] [nvarchar](50) NULL,
	[dat] [nvarchar](50) NULL,
	[tim] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL,
 CONSTRAINT [PK_vseller] PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temp_super]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_super](
	[did] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[alternate_no] [nvarchar](50) NULL,
	[product] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[choose_plan] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[profession] [nvarchar](50) NULL,
	[call_credit] [nvarchar](50) NULL,
	[period] [nvarchar](50) NULL,
	[mode] [nvarchar](50) NULL,
	[con_call] [nvarchar](50) NULL,
	[message] [nvarchar](max) NULL,
	[recovery] [nvarchar](50) NULL,
	[payment] [nvarchar](50) NULL,
	[dat] [nvarchar](50) NULL,
	[tim] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL,
	[ticket] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[support]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support](
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[super]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[super](
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seller]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seller](
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prepaid]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prepaid](
	[prepaid] [nvarchar](50) NOT NULL,
	[id] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operator]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operator](
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[did]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[did](
	[id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_did] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account]    Script Date: 08/27/2014 05:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[name] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
