<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
  <connectionStrings>
    <add name="const" connectionString="Server=50.62.209.4; User id=square; Pwd=vsale@123!; Database=squarekart;" providerName="MySql.Data.MySqlClient"/>
    <add name="foodcon" connectionString="data source=longreport.knowlarity.com; User id=foodbazar; Pwd=foodbazar@2014; Database=kreport;" />

    <!-- <add name="const" connectionString="Server=localhost;User id=root;Password=;Database=squarekart;" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <!--   <defaultDocument>
      <files>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>  --> 
  </system.webServer>
</configuration>